nav ul li{
	line-height: 80px;
	margin: 0 5px;
}
input{
	text-align: center;
	display: inline-block;
	background-color: royalblue;
	color: antiquewhite;
	border-radius: 5px;
	height: 50px;
	box-shadow: 2px 4px 2px 4px rgb(1, 2, 3);
    display: inline-block;
    width: 300px;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}
nav ul{
	text-align: center;
	display: inline-block;
}
input:hover{
	transform: scale(1.1);
	text-align-last: center;
}
body{
	background-image: url(55393611-giraffe-walking-in-savannah-landscape.webp);
	background-repeat: no-repeat;
	background-size: cover;
}